* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
	min-width: 320px;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-mos-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
}


// -----------------------------------------------------------------------------
//! Sections
// -----------------------------------------------------------------------------

section {
	padding: 2em 1em;

	@include min( $md ) {
		padding: 4.5em 2em;
	}
}

.contain {
	position: relative;
	max-width: 1200px;
	margin: auto;
}


// -----------------------------------------------------------------------------
//! Headings
// -----------------------------------------------------------------------------

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
   margin-top: 0;
}


// -----------------------------------------------------------------------------
//! Paragraphs
// -----------------------------------------------------------------------------

p {
	margin: 15px 0;
	font-size: 16px;
	line-height: 24px;

	@include min( $md ) {
		margin: 25px 0;
	}
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}


// -----------------------------------------------------------------------------
//! Lists
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//! Links
// -----------------------------------------------------------------------------

a {
	transition: .15s;
}


// -----------------------------------------------------------------------------
//! Blockquotes
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//! Tables
// -----------------------------------------------------------------------------
