.masthead {
	background: teal;
	padding: 16px;

	@include min( $md ) {
		padding: 16px 32px;
	}
}


// -----------------------------------------------------------------------------
//! Logo
// -----------------------------------------------------------------------------

.masthead .logo {
	display: block;
	height: 50px;

	@include min( $md ) {
		height: 70px;
	}
}


// -----------------------------------------------------------------------------
//! Nav toggle
// -----------------------------------------------------------------------------

.toggle-nav {
	position: relative;
	display: block;
	width: 22px;
	height: 16px;
	margin-left: auto;

	@include min( $lg ) {
		display: none;
	}

	&:hover div {
		background: #fff;
	}
}

.toggle-nav div {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	border-radius: 9px;
	background: rgba( #fff, .9 );
	opacity: 1;
	transform: rotate(0deg);
	transition: all .25s ease-in-out, background .2s;

	&:nth-child(1) {
		top: 0px;
	}

	&:nth-child(2),
	&:nth-child(3) {
		top: 7px;
	}

	&:nth-child(4) {
		top: 14px;
	}
}

.show-nav .toggle-nav div {

	&:nth-child(1) {
		top: 18px;
		left: 50%;
		width: 0%;
	}

	&:nth-child(2) {
		transform: rotate(45deg);
	}

	&:nth-child(3) {
		transform: rotate(-45deg);
	}

	&:nth-child(4) {
		top: 18px;
		left: 50%;
		width: 0%;
	}
}
