// -----------------------------------------------------------------------------
//! Mixins
// -----------------------------------------------------------------------------

	@mixin min( $breakpoint ) {
		@media print, screen and ( min-width: $breakpoint ) {
			@content;
		}
	}

	@mixin max( $breakpoint ) {
		$breakpoint: $breakpoint - 1;
		@media screen and ( max-width: $breakpoint ) {
			@content;
		}
	}

	@mixin range( $start, $end ) {
		$end: $end - 1;
		@media screen and ( min-width: $start ) and ( max-width: $end ) {
			@content;
		}
	}

	@mixin line( $width: 1px, $height: 100%, $color: black ) {
		content: "";
		position: absolute;
		width: $width;
		height: $height;
		background: $color;
	}


// -----------------------------------------------------------------------------
//! Flexbox
// -----------------------------------------------------------------------------

.flex {
	display: flex;
}

.md-flex {
	@include min( $md ) {
		display: flex;
	}
}

.wrap {
	flex-wrap: wrap;
}


// -----------------------------------------------------------------------------
//! Alignment
// -----------------------------------------------------------------------------

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
