
// -----------------------------------------------------------------------------
//! Text
// -----------------------------------------------------------------------------

input[type=text],
input[type=email],
input[type=tel],
input[type=search],
textarea {
	width: 100%;
	height: 43px;
	padding: 13px 13px 11px;
	font-size: 16px;
	line-height: 19px;
	border: 1px solid gray;
	border-radius: 1px;
	box-shadow: none;
	-webkit-appearance: none;

	&:hover,
	&:focus {
		outline: 0;
	}
}


// -----------------------------------------------------------------------------
//! Radio / Checkbox
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//! Dropdown
// -----------------------------------------------------------------------------
