// -----------------------------------------------------------------------------
//! Backdrop
// -----------------------------------------------------------------------------

.nav-backdrop {
	background: rgba( #000, .3 );
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 30;
	pointer-events: none;
	opacity: 0;
	transition: .3s;

	@include min( $lg ) {
		display: none;
	}
}

.show-mobile-nav .nav-backdrop {
	opacity: 1;
	pointer-events: auto;
}


// -----------------------------------------------------------------------------
//! Nav
// -----------------------------------------------------------------------------

@include max( $lg ) {

	.header-nav {
		background: #fff;
		position: fixed;
		top: 70px;
		left: -190px;
		width: 190px;
		height: 100vh;
		z-index: 50;
		transition: left .3s;
	}

	.show-mobile-nav .header-nav {
		left: 0;
	}
}


// -----------------------------------------------------------------------------
//! Items
// -----------------------------------------------------------------------------

@include max( $lg ) {

	.header-nav li {
		border-top: 1px solid #000;

		&:last-of-type {
			border-bottom: 1px solid #000;
		}

		a {
			position: relative;
			color: #fff;
			font-weight: 400;
			font-size: 16px;
			display: block;
			padding: 14px 18px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}


// -----------------------------------------------------------------------------
//! Current item state
// -----------------------------------------------------------------------------

@include max( $lg ) {

	.header-nav li.current-menu-item a:after {
		width: 4px;
	}
}


// -----------------------------------------------------------------------------
//! Sub menus
// -----------------------------------------------------------------------------

@include max( $lg ) {

	.header-nav .sub-menu {

	}
}
