
// -----------------------------------------------------------------------------
//! Nav
// -----------------------------------------------------------------------------

@include min( $lg ) {

	.header-nav {
		margin: 0;
		padding-left: 0;
	}
}


// -----------------------------------------------------------------------------
//! Items
// -----------------------------------------------------------------------------

@include min( $lg ) {

	.header-nav li {
		display: inline-block;

		+ li {
			margin-left: 20px;
		}

		a {
			position: relative;
			display: block;
			padding: 10px 0;
			color: rgba( #fff, .9 );
			font-size: 15px;
			font-weight: 600;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: .4px;

			&:hover {
				color: #fff;
			}
		}
	}
}


// -----------------------------------------------------------------------------
//! Current item state
// -----------------------------------------------------------------------------

@include min( $lg ) {

	.header-nav li.current-menu-item a {
		color: #fff;
	}
}


// -----------------------------------------------------------------------------
//! Sub menus
// -----------------------------------------------------------------------------

@include max( $lg ) {

	.header-nav .sub-menu {

	}
}
